<h1>Admin Dashboard</h1>

<table class="table table-bordered h4">
  <tr>
    <td>Number of <%= link_to 'products', admin_products_path %> in the store</td> 
    <td class="info"><%= @product_count %></td> 
  </tr>
  <tr>
  <td>Number of <%= link_to 'categories', admin_categories_path %> in the store</td> 
    <td class="info"><%= @category_count %></td> 
  </tr>
</table>